$background-button-color: #2196F3;
$button-color: #FFFFFF;
$font-family-button: 'Open Sans', sans-serif;

.container {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.left-section {
  width: 232px;
}

.right-section {
  width: 502px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.button {
  margin: 0;
  padding: 0;
  height: 50px;
  background: $background-button-color;
  border-radius: 5px;
  border-width: 0;
  font-family: $font-family-button;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $button-color;

  &:hover {
    filter: brightness(110%);
  }

  &:active {
    transform: scale(99%);
  }
}
